.table-marker{

}
.table-marker tr{border-bottom: 1px solid #cfcfcf}
.guide{
    position: absolute;
    right: 0;
    border: 1px solid;
    width: 200px;
    z-index: 5;font-size: 22px;
    top: 5px; background: #fff;padding:6px 6px 6px 10px
}