
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="templates/js/jquery-ui-1.10.2.custom.min.js"></script> <!-- jQuery UI -->
{*<script src="templates/js/custom.js"></script> <!-- Custom codes -->*}

</body>
</html>
