{include file='header.tpl'}

<div class="content">
    <div class="sidebar">
        <div class="sidebar-inner">
            {include file='menuLeft.tpl'}
        </div>
    </div>
       <div class="mainbar">

           {include file="listUser.tpl"}
        {*{elseif $smarty.session.Role eq 'user'}*}
            {*{include file="listVehicleUserDefaul.tpl"}*}
        {*{else}*}
            {*{include file="listUserDefault.tpl"}*}
        {*{/if}*}

    </div>
</div>
{include file='footer.tpl'}