<div class="sidebar">
    <div id="nav">
        <!-- Menu with sub menu -->
        <ul class="menu-left">
            <li>
                <a href="users.php?list=listUser">
                    <i class="icon-user" id="group-user"></i> USERS
                </a>
            </li>

            <li>
                <a href="city.php?list=listCity">
                    <img src="templates/img/update23.png" width="16" height="16"/> LOCATION
                </a>

            </li>
            <li>
                <a href="points.php?listPoint=listPoints">
                    <img src="templates/img/update23.png" width="16" height="16"/> Points
                </a>
            </li>
            <li>
                <a href="marker.php?listMarker=listAllMarker">
                    <img src="templates/img/update23.png" width="16" height="16"/> Marker
                </a>

            </li>
            <li>
                <a href="parameter.php?listParameter=listPara">
                    <img src="templates/img/update23.png" width="16" height="16"/> Parameter
                </a>

            </li>
        </ul>
    </div>
</div>
