<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Google map thong minh</title>
<link type="text/css" href="../css/style.css">
<style type="text/css">
    html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
    }

    .guide {
        position: absolute;
        right: 0;
        border: 1px solid;
        width: 300px;
        z-index: 5; font-size: 15px; font-family: Arial;
        top: 5px; background: #fff; padding: 15px 6px 6px 10px
    }
    .guide-all div.row {
        float: left;width: 100%;overflow: hidden;height: 40px;
    }

    .guide-all div.red {
        background: red; margin-right: 5px; width: 80px;float: left;height: 10px;
    }

    .guide-all div.yellow {
        background: #ffff00; margin-right: 5px;width: 80px;float: left;height: 10px;
    }
    .guide-all .span{
        margin-top: -4px;
    }

    .guide-all div.green {
        background: green; margin-right: 5px;width: 80px;float: left;height: 10px;
    }

    .option_cities {
        position: absolute;
        top: 5px;
        left: 20%;
        margin-left: -180px;
        z-index: 5;
    }

    .option_cities select {
        height: 32px;
        width: 200px; border: 2px solid blue;
    }
    * {
        margin: 0;
        padding: 0;
    }
    body {
        overflow-x: hidden;
    }
    #demo-top-bar {
        text-align: left;
        background: #222;
        position: relative;
        zoom: 1;
        width: 100% !important;
        z-index: 6000;
        padding: 20px 0 20px;
    }
    #demo-bar-inside {
        width: 960px;
        margin: 0 auto;
        position: relative;
    }
    #demo-bar-buttons {
        padding-top: 10px;
        float: right;
    }
    #demo-bar-buttons a {
        font-size: 12px;
        margin-left: 20px;
        color: white;
        margin: 2px 0;
        text-decoration: none;
        font: 14px "Lucida Grande", Sans-Serif !important;
    }
    #demo-bar-buttons a:hover,
    #demo-bar-buttons a:focus {
        text-decoration: underline;
    }
    #demo-bar-badge {
        display: inline-block;
        width: 302px;
        padding: 0 !important;
        margin: 0 !important;
        background-color: transparent !important;
    }
    #demo-bar-badge a {
        display: block;
        width: 100%;
        height: 38px;
        border-radius: 0;
        bottom: auto;
        margin: 0;

        background-size: 100%;
        overflow: hidden;
        text-indent: -9999px;
    }
    #demo-bar-badge:before, #demo-bar-badge:after {
        display: none !important;
    }

</style>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA35L7WJm-ED4KS9VQe1tHMEPtCvjzeKwY"
        type="text/javascript"></script>


<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

<script type="text/javascript">

var directionsDisplay;
var directionsService = new google.maps.DirectionsService();
var map;
var infoWindow;
var info;


// su dung kieu icon cho cac nga tu
var customIcons = {
    green: {
        icon: 'images/green.png',
        shadow: 'http://labs.google.com/ridefinder/images/mm_20_shadow.png'
    },
    red: {
        icon: 'images/red.png',
        shadow: 'http://labs.google.com/ridefinder/images/mm_20_shadow.png'
    },
    yellow: {
        icon: 'images/yellow.png',
        shadow: 'http://labs.google.com/ridefinder/images/mm_20_shadow.png'
    }
    //scaledSize: new google.maps.Size(5, 5)
};
//su dung icon cho diem dau va diem cuoi
var markerIcon = {
    green: {
        icon: 'images/mgreen.png'
    },
    red: {
        icon: 'images/mred.png'
    },
    yellow: {
        icon: 'images/myellow.png'
    }
};

// ham khoi tao google
function initialize() {
    directionsDisplay = new google.maps.DirectionsRenderer();

    var tphcm = new google.maps.LatLng(10.760009, 106.680547);
    var mapOptions = {
        zoom:17,
        center: tphcm,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        zoomControl: false,
        scaleControl: true,
        scrollwheel: false,
        disableDoubleClickZoom: true
    };
    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
    directionsDisplay.setMap(map);
    infoWindow = new google.maps.InfoWindow;
    directionsDisplay.setMap(map);

    //Hien thi marker
    getMarkerIcon();

    //ve duong
    getPoint();
    displayMarkerEndPoint();

}
//end
//ham chon city
function selectCityRoute() {
    var start = document.getElementById('option_select_city').value;
    var end = document.getElementById('option_select_city').value;
    var request = {
        origin:start,
        destination:end,
        travelMode: google.maps.TravelMode.WALKING,
        optimizeWaypoints: false


    };
    directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
            directionsDisplay.setDirections(response);
        }
    });

}
//
//Ham hien thi marker icon
function getMarkerIcon() {
    {foreach from=$listMarkers item="i"}
    var id_marker = '{$i.id}';
    var name = '{$i.marker_name}' + " ";
    var lat_marker = '{$i.lat_marker}';
    var long_marker = '{$i.long_marker}';
    var color = '{$i.color}';
    var point = new google.maps.LatLng(
            parseFloat(lat_marker),
            parseFloat(long_marker));
    var html = "<b>" + name + "</b> <br/>" + color;
    var icon = customIcons[color];
    var marker = new google.maps.Marker({
        map: map,
        position: point,
        icon: icon.icon,
        shadow: icon.shadow

    });

    contentString =
            '<div class="content_marker" style="width: 650px;">' +
                    '<div id="info-street" style="width: 100%;height: 30px;float: left;text-align: center;">' + name + '</div>' +

                    '<div id="siteNotice" style="width: 297px;float: left">' +
                    {foreach from=$getParameter item="para"}

                    {if $i.id == $para.id_marker}

                    '<table  border="0px" style="width: 290px;">' +
                    '<tr>' +
                    '<td class="td-top-left" style="height: 65px;width: 130px;text-align: right;vertical-align: top;  border-right: 2px solid #cfcfcf;  border-bottom: 2px solid #cfcfcf;border-bottom-right-radius: 5px">' +
                    '<img height="70px" width="85px" style="" src="upload/{$para.img_top_vertical}"/>' + '</td>' +
                    '<td style="width: 50px;text-align: left">' +
                    '<div style="font-family:Arial;font-size:11px; "> {$para.name_street_vertical}</div>' + '</td>' +
                    '<td class="td-top-right" style="height: 95px;width: 130px;text-align: right;vertical-align: bottom;bottom: auto; border-left: 2px solid #cfcfcf;  border-bottom: 2px solid #cfcfcf;border-bottom-left-radius:5px">' +
                    '<img height="65px" style="" width="85px" src="upload/{$para.img_right_horizontal}"/>' + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td class="td-center-left" style="height: 30px;text-align: center;vertical-align: bottom">' + '<label style="font-size: 11px;">{$para.name_street_horizontal}</label>' + '</td>' +
                    '<td style="height: 40px;width: 30px;text-align: center;vertical-align: middle">' +
                    {if $i.color == 'red'}
                    '<img src="red.png" height="30px" width="33px"/>' +
                    {else}
                    '<img src="green.png" height="29px" width="33px"/>' +
                    {/if}
                    '</td>' +
                    '<td class="td-center-right" style="text-align: center;height: 30px;vertical-align: top">' + '<label style="font-size: 11px;">{$para.name_street_horizontal}</label>' + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td class="td-bottom-left" style="height: 95px;text-align: left;vertical-align: top;border-top: 2px solid #cfcfcf;border-right: 2px solid #cfcfcf;border-top-right-radius: 5px">' +
                    '<img height="65px" width="85px" style="" src="upload/{$para.img_left_horizontal}"/>' + '</td>' +
                    '<td style="width: 50px;text-align: right">' + '<div style="font-size:11px;">{$para.name_street_vertical}</div> ' + '</td>' +
                    '<td class="td-bottom-right" style="height: 95px;border-top: 2px solid #cfcfcf;border-left: 2px solid #cfcfcf;border-top-left-radius: 5px">' +
                    '<img height="65px" width="85px" src="upload/{$para.img_bottom_vertical}"/>' + '</td>' +
                    '</tr>' +

                    '</table>' +
                    {/if}

                    {/foreach}
                    '</div>' +
                    '<div id="info" style="width: 327px;float: right;overflow: hidden">' +
                    '<table id="example" class="table-marker" style="font-size: 12px;width: 300px;border: 1px solid #cfcfcf;border-collapse: inherit;" cellspacing="0">' +

                    {foreach from=$getParameter item="pa"}{if $pa.id_marker == $i.id }

                    '<tr style="border: 1px solid #cfcfcf;height: 45px;background: #d3e2e4">' +
                    '<th style="border: 1px solid #cfcfcf">' + 'Thông số' + '</th>' +
                    '<th style="border: 1px solid #cfcfcf">' + '{$pa.name_street_horizontal}' + '</th>' +
                    '<th style="border: 1px solid #cfcfcf">' + '{$pa.name_street_vertical}' + '</th>' +
                    '</tr>' +
                    '<tbody>' +

                    '<tr>' +
                    '<td style="border: 1px solid #cfcfcf;text-align: center;height: 30px">' + 'Chu Kỳ' + '</td>' +
                    '<td style="border: 1px solid #cfcfcf;text-align: center" colspan="2">' + '{$pa.cycle} giây' + '</td>' +
                    '</tr>' +
                    '<tr style="background: #f6f6f6">' +
                    '<td style="border: 1px solid #cfcfcf;text-align: center;height: 30px">' + 'Vận tốc' + '</td>' +
                    '<td style="border: 1px solid #cfcfcf;text-align: center">' + '{$pa.speech_horizontal} km/h' + '</td>' +
                    '<td style="border: 1px solid #cfcfcf;text-align: center">' + '{$pa.speech_vertical} km/h' + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td style="border: 1px solid #cfcfcf;text-align: center;height: 30px">' + 'Mật độ' + '</td>' +
                    '<td style="border: 1px solid #cfcfcf;text-align: center">' + '{$pa.consistence_horizontal} m/2' + '</td>' +
                    '<td style="border: 1px solid #cfcfcf;text-align: center">' + '{$pa.consistence_vertical} m/2' + '</td>' +
                    '</tr>' +
                    '<tr style="background: #f6f6f6">' +
                    '<td style="border: 1px solid #cfcfcf;text-align: center;height: 30px">' + 'T/g Xanh' + '</td>' +
                    '<td style="border: 1px solid #cfcfcf;text-align: center">' + '{$pa.time_green_horizontal} giây' + '</td>' +
                    '<td style="border: 1px solid #cfcfcf;text-align: center">' + '{$pa.time_green_vertical} giây' + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td style="border: 1px solid #cfcfcf;text-align: center;height: 30px">' + 'T/g Vàng' + '</td>' +
                    '<td style="border: 1px solid #cfcfcf;text-align: center" colspan="2">' + '{$pa.time_yellow} giây' + '</td>' +
                    '</tr>' +

                    '</tbody>' +
                    {/if}{/foreach}
                    '</table>' +
                    '</br>'+

                    {if $smarty.session.Email eq 'nosession'}

                    {else}


                    '<form action="parameter.php" method="post"> '+
                    '<table id="example" class="table-marker" style="font-size: 12px;width: 300px;border: 1px solid #cfcfcf;border-collapse: inherit;" cellspacing="0">' +

                    {foreach from=$getParameter item="pa"}
                    {if $pa.id_marker == $i.id }
                    '<tr><td colspan="2" style="text-align: center;font-weight:bold ">Điều Chỉnh Thông số</td></tr>'+
                    '<tr style="border: 1px solid #cfcfcf;height: 45px;background: #d3e2e4">' +
                    '<th style="border: 1px solid #cfcfcf">' + 'Thông số' + '</th>' +
                    '<th style="border: 1px solid #cfcfcf">' + '{$pa.name_street_horizontal}' + '</th>' +
                    '<th style="border: 1px solid #cfcfcf">' + '{$pa.name_street_vertical}' + '</th>' +
                    '</tr>' +
                    '<tbody>' +

                    '<tr>' +
                    '<td style="border: 1px solid #cfcfcf;text-align: center;height: 30px">' + 'Chu Kỳ' + '</td>' +
                    '<td style="border: 1px solid #cfcfcf;text-align: center" colspan="2" class="numbers-row">' + '<input type="text" name="cycle" id="partridge" style="width: 30px;text-align:center;font-size:12px" value="{$pa.cycle}" >' +' giây' + '</td>' +
                    '</tr>' +
                    '<tr style="background: #f6f6f6">' +
                    '<td style="border: 1px solid #cfcfcf;text-align: center;height: 30px">' + ' Vận tốc' + '</td>' +
                    '<td style="border: 1px solid #cfcfcf;text-align: center">' +'</td>' +
                    '<td style="border: 1px solid #cfcfcf;text-align: center">' + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td style="border: 1px solid #cfcfcf;text-align: center;height: 30px">' + ' Mật độ' + '</td>' +
                    '<td style="border: 1px solid #cfcfcf;text-align: center">'  + '</td>' +
                    '<td style="border: 1px solid #cfcfcf;text-align: center">'  + '</td>' +
                    '</tr>' +
                    '<tr style="background: #f6f6f6">' +
                    '<td style="border: 1px solid #cfcfcf;text-align: center;height: 30px">' + ' T/g Xanh' + '</td>' +
                    '<td style="border: 1px solid #cfcfcf;text-align: center">' +'<input type="text" name="time_green_horizontal" style="width: 30px;text-align:center;font-size:12px" value="{$pa.time_green_horizontal}">' +' giây' + '</td>' +
                    '<td style="border: 1px solid #cfcfcf;text-align: center">' +'<input type="text" name="time_green_vertical" style="width: 30px;text-align:center;font-size:12px" value="{$pa.time_green_vertical}">'+ ' giây' + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td style="border: 1px solid #cfcfcf;text-align: center;height: 30px">' + ' T/g Vàng' + '</td>' +
                    '<td style="border: 1px solid #cfcfcf;text-align: center" colspan="2">' +'<input type="text" name="time_yellow" style="width: 30px;text-align:center;font-size:12px" value="{$pa.time_yellow}">'+ ' giây' +'  ' + '<input type="submit" value="Cập nhật">'+'<input type="hidden" name="id_parama" value="{$pa.id_parameter}">' +'</td>' +

                    '</tr>' +

                    '</tbody>' +
                    {/if}
                    {/foreach}
                    '</table>' +
                    '</form>'+

                    {/if}
                    '</div>'+
                    '</div>';

    bindInfoWindow(marker, map, infoWindow, contentString);

    {/foreach}
}
//
//mo hop tohia window
function bindInfoWindow(marker, map, infoWindow, html) {
    google.maps.event.addListener(marker, 'click', function () {
        infoWindow.setContent(html);
        infoWindow.open(map, marker);
    });
}



//ham lay point chi duonng
function getPoint() {

    {foreach from=$listPoints item="p"}
    var lat_begin = '{$p.lat_start}';
    var long_begin = '{$p.long_start}';
    var lat_end = '{$p.lat_end}';
    var long_end = '{$p.long_end}';
    var lat_long_start = new google.maps.LatLng(lat_begin, long_begin);
    var lat_long_end = new google.maps.LatLng(lat_end, long_end);
    var myTrip = [lat_long_start, lat_long_end];
    var col = '{$p.color}';
    //Khoi tao polyline ve duong dan
    var flightPath = new google.maps.Polyline({
        path: myTrip,
        fillColor: '{$p.color}',
        strokeColor: '{$p.color}',
        strokeOpacity: 0.5,
        strokeWeight: 8,
        fillOpacity: 0.35
        //scale:2
    });
    var icon = markerIcon[col];//mang icon
    //khoi tao marker
    var marker = new google.maps.Marker({
        position: lat_long_start,
        icon: icon.icon

    });
    contentString = '{$p.address_start}';//gan bien chuoi hien thi infoWindow
    bindInfoWindow(marker, map, infoWindow, contentString);
    marker.setMap(map);//setup marker vao map
    flightPath.setMap(map);//ran ve duong vao map
    {/foreach}

}
//Hien thi custom icon marker cho lat long diem cuoi
function displayMarkerEndPoint() {
    {foreach from=$listPoints item="p"}

    var lat_begin = '{$p.lat_start}';
    var long_begin = '{$p.long_start}';
    var lat_end = '{$p.lat_end}';
    var long_end = '{$p.long_end}';
    var col = '{$p.color}';
    var lat_long_end = new google.maps.LatLng(lat_end, long_end);
    var icon = markerIcon[col];//mang custom icon
    var marker = new google.maps.Marker({
        position: lat_long_end,
        icon: icon.icon //ran icon vao
    });
    contentString = '{$p.address_end}';
    marker.setMap(map);//set up marker

    bindInfoWindow(marker, map, infoWindow, contentString);
    {/foreach}

}
//end

google.maps.event.addDomListener(window, 'load', initialize);
//getPoint();
</script>

</head>

<body onload="getMarkerIcon()">
<input type="hidden" value="" id="getParamete" name="getParamete"/>

<div id="idd" name="idd" class="idd"></div>

<div class="option_cities">
    <select class="option_select_city" id="option_select_city" name="option_select_city" onchange="selectCityRoute();">
        <option selected="selected" value="10.825108, 106.605099">Chọn các quận</option>
        {foreach from=$getCityIndex item="i"}
            <option value="{$i.lat_code},{$i.long_code}">{$i.name}</option>
        {/foreach}
    </select>
</div>

<div class="guide">
    <div class="guide-all">
        <div class="row">
            <div class="green"></div>
            <div class="span">Đường thông thoáng</div>
        </div>
        <div class="row">
            <div class="yellow"></div>
            <div class="span">Đường sắp tắc nghẽn</div>
        </div>

        <div class="row">
            <div class="red"></div>
            <div class="span">Đường tắc nghẽn</div>
        </div>
    </div>
</div>
<div id="map-canvas"></div>
</body>
</html>